.navbar {
    margin-bottom: 0px !important;
    height: 10rem;
    margin-top: 1rem;
}

ul {
    margin-top: 1%;
    font-size: 1.6rem;
}

.nav-link:hover {
    background-color: #F5DF57;
}

@media screen and (max-width: 600px) { 
    .navbar{
        height: 8rem;
        margin-top: 0rem;
    }
    .navbar-brand{
        display: none;
    }
    .nav-link:hover {
        background-color: #9a9d9c;
    }
}
