.new-container {
    margin: 0 auto;
    background-image: url(../../../assets/images/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
    padding: 3%;
}

h3 {
    font-size: 3em;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

label {
    color: white;
}

#item-rating-input {
    width: 10%;
}

input {
    margin: 10px;
    width: 30%;
}