<div class="new-container">
  <h3>new item</h3>
    
    <p *ngIf="savingErr" class="error">
      {{ savingErr }}
    </p>

    <form action="" (ngSubmit)="newItem(myForm)" #myForm="ngForm">

    <label for="item-name-input"> name </label>
    <input id="item-name-input" type="text" [(ngModel)]="itemData.name" name="name">
    <br>

    <label for="item-description-input"> description </label>
    <input id="item-description-input" type="text" [(ngModel)]="itemData.description" name="description">
    <br>

    <label for="item-price-input"> price </label>
    <input id="item-price-input" type="text" [(ngModel)]="itemData.price" name="price">
    <br>

    <label for="item-rating-input"> rating </label>
    <input id="item-rating-input" type="text" [(ngModel)]="itemData.rating" name="rating">
    <br>

    <label for="item-seller-input"> seller </label>
    <input id="item-seller-input" type="text" [(ngModel)]="itemData.seller" name="seller">
    <br>

    <label for="item-warranty-input"> warranty </label>
    <input id="item-warranty-input" type="text" [(ngModel)]="itemData.warranty" name="warranty">
    <br>


    <input type="submit">
    <!-- <button class="btn btn-default"> Save item </button> -->

  </form>
  <br>
 <span>nvm, <a [routerLink]="['/products']">back to items</a></span> 
</div>