.show-items-container {
    width:80%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

ul {
    list-style-type: none;
}

.item-name {
    font-size: 2rem;
}

.item-container {
    background-color: white;
    padding: 6%;
    margin: 4%;
}

.item-container:hover {
    background-color: #bcbcbc;
}

  h1 {
    color: white;
    font-size: 5em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}