<h1> item list </h1>
<div>
  <div *ngFor="let item of items">
    <h3> {{ item.name }}&nbsp;</h3>
    <p> {{ item.description }} </p>
    <a [routerLink]="['item', item._id]" role="button" class="btn btn-info"> View Details </a>
  </div>
  <div>
      <label for="things_name"> Search thing: </label>
      <input id="things_name" placeholder="thing name"
              type="text" [(ngModel)]="pattern">
    <div>
    
    <h4> Stuff list </h4>
    <ul>
      <li *ngFor="let item of items | filter:'name':pattern; let i = index">
        {{ i+1 }}) {{ item.name }}
        <a [routerLink]="['item', item._id]" role="button" class="btn btn-info"> View Details </a>
      </li>
    </ul>
  
</div>

