.jumbotron {
    width: 70%;
    margin: 0 auto;
    background-image: url(../../../assets/images/office.jpg);
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.display-4 {
    font-size: 5em;
}

.btn {
    padding: 2%;
}