.jumbotron {
    width: 70%;
    margin: 0 auto;
    background-image: url(../../../assets/images/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.display-4 {
    font-size: 5em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.btn {
    padding: 2%;
}

@media screen and (max-width: 600px) { 
    .display-4{
        font-size: 3em;
    }
}