 <div class="new-container">
          <h3>Edit Product</h3>
        
            <form (ngSubmit)="doTheUpdate(item._id, myForm)" #myForm="ngForm">
        
            <label for="item-name-input"> {{ item.name }} </label>
            <input id="item-name-input" type="text" [(ngModel)]="item.name" name="name" value="{{ item.name }}">
            <br>
        
            <label for="item-description-input"> description </label>
            <input id="item-description-input" type="text" [(ngModel)]="item.description" name="description" value="{{ item.description }}">
            <br>
        
            <label for="item-price-input"> price </label>
            <input id="item-price-input" type="text" [(ngModel)]="item.price" name="price">
            <br>
        
            <label for="item-rating-input"> rating </label>
            <input id="item-rating-input" type="text" [(ngModel)]="item.rating" name="rating">
            <br>
        
            <label for="item-seller-input"> seller </label>
            <input id="item-seller-input" type="text" [(ngModel)]="item.seller" name="seller">
            <br>
        
            <label for="item-warranty-input"> warranty </label>
            <input id="item-warranty-input" type="text" [(ngModel)]="item.warranty" name="warranty">
            <br>
        
        
            <input type="submit" role="button" class="btn btn-success">
          </form>
          <br>
         <span><a [routerLink]="['/products']">Back to Products</a></span> 
        </div>